.main {
	margin: 0 auto;
	width: 950px;
}

button {
	font-size: 18px;
	text-transform: uppercase;
	outline: none;
	padding: 10px;
	width: 20%;
	margin: 1.66%;
}

/*.alphabetBtn {
	font-size: 18px;
	text-transform: uppercase;
	outline: none;
	padding: 10px;
	width: 20%;
	margin: 1.66%;
}*/

#alphabet {
	width: 20%;
}

.disabledBtn {
	cursor: not-allowed;
	opacity: 0.4;
}